<ion-header>
    <ion-navbar color="senyumDifabel">
        <ion-grid no-padding>          
            <ion-row no-padding>
              <ion-col col-10 no-padding>
                <img src="assets/imgs/logotrans.png" class="pictLogo"/>
              </ion-col>
              <ion-col col-2 text-center no-padding>
                <ion-icon (click)="openSetting()" color="dark" class="ButtonRight" name="md-settings"></ion-icon>
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-navbar>
  </ion-header>


<ion-content class="backgroundColor">
  <img  class="pictCover" src="assets/imgs/bukalapakCover.jpg" />
  <div class="mainProfile">
    <ion-icon (click)="openProfileEdit()" color="dark" class="editIcon" name="md-create"></ion-icon>
    <img  class="pictProfile" src="assets/imgs/alamanda.jpg" />
    <div class="textProfile" text-center>
      <span class="name">Alamanda Shantika</span>
      <br />
      <span class="position">VP Gojek Indonesia</span>
      <br />
      <span class="location">South Jakarta, Indonesia</span>
      <div class="description">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad </span>
      </div>
    </div>
  </div>
  <div class="detailProfile">
    <ion-grid no-padding>          
      <ion-row no-padding text-center>
        <ion-col (click)="open('follower')" col-6 no-padding class="contentHeader">
          <span class="numberHeader">2980</span>
          <br />
          <span class="textHeader">Followers</span>            
        </ion-col>
        <ion-col (click)="open('following')" col-6 no-padding class="contentHeader contentCenter">
          <span class="numberHeader">387</span>
          <br />
          <span class="textHeader">Following</span>            
        </ion-col>
        <!-- <ion-col (click)="open('company')" col-4 no-padding class="contentHeader">
          <span class="numberHeader">2</span>
          <br />
          <span class="textHeader">Company</span>            
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <div text-center class="buttonDiv">
      <button ion-button block color="senyumDifabel" class="buttonCustom"><span class="buttonWord">Upload Your CV</span></button>
    </div>

    <super-tabs  class="tabProfile" id="mainTabs" selectedTabIndex="0" toolbarColor="senyumDifabel" toolbarBackground="white" indicatorColor="senyumDifabel" (tabSelect)="onTabSelect($event)">
        <super-tab tabsHideOnSubPages="true" [root]="tab1Root" title="Experience" ></super-tab>
        <super-tab tabsHideOnSubPages="true" [root]="tab2Root" title="Education" ></super-tab>
        <super-tab tabsHideOnSubPages="true" [root]="tab3Root" title="Skill" ></super-tab>
        <super-tab tabsHideOnSubPages="true" [root]="tab4Root" title="Achivement" ></super-tab>
        <super-tab tabsHideOnSubPages="true" [root]="tab5Root" title="Contact" ></super-tab>
    </super-tabs>

    <!-- <div class="tabProfile" text-center>
        <span [hidden]="experience == false" class="textTabActive">Experience</span><span [hidden]="experience == true" class="textTab" (click)="activeExperience()">Experience</span><span [hidden]="education == false" class="textTabActive">&nbsp;&nbsp;Education&nbsp;&nbsp;</span><span [hidden]="education == true" class="textTab" (click)="activeEducation()">&nbsp;&nbsp;Education&nbsp;&nbsp;</span><span [hidden]="skill == false" class="textTabActive">Featured Skill</span><span [hidden]="skill == true" class="textTab" (click)="activeSkill()">Featured Skill</span><span [hidden]="accomplishment == false" class="textTabActive">&nbsp;&nbsp;Accomplishment&nbsp;&nbsp;</span><span [hidden]="accomplishment == true" class="textTab" (click)="activeAccomplishment()">&nbsp;&nbsp;Accomplishment&nbsp;&nbsp;</span><span [hidden]="contact == false" class="textTabActive">Contact</span><span [hidden]="contact == true" class="textTab" (click)="activeContact()">Contact</span>      
    </div> -->
    <div class="tabsProfileContent">
      <div [hidden]="experience == false">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-6 no-padding class="marginBottom" (click)="option()">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">UX Researcher a a a aa a a a a </span>
                  <br />
                  <span class="subheadContent">Bukalapak a a a a a a a</span>
                  <br />
                  <span class="time">Dec 2016 - Presents a a a a a a a a</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>

            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">UX Researcher</span>
                  <br />
                  <span class="subheadContent">Bukalapak</span>
                  <br />
                  <span class="time">Dec 2016 - Presents</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>

            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">UX Researcher</span>
                  <br />
                  <span class="subheadContent">Bukalapak</span>
                  <br />
                  <span class="time">Dec 2016 - Presents</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="tabsProfileContent">
      <div [hidden]="education == false">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">IPB</span>
                  <br />
                  <span class="subheadContent">Ilmu Komputer</span>
                  <br />
                  <span class="time">2011 - 2015</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>

            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">IPB</span>
                  <br />
                  <span class="subheadContent">Ilmu Komputer</span>
                  <br />
                  <span class="time">2011 - 2015</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>

            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">IPB</span>
                  <br />
                  <span class="subheadContent">Ilmu Komputer</span>
                  <br />
                  <span class="time">2011 - 2015</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="tabsProfileContent">
      <div [hidden]="skill == false">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">SKill 1</span>
                  <br />
                  <span class="subheadContent">sertifikat?</span>
                  <br />
                  <span class="time">2018</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="tabsProfileContent">
      <div [hidden]="accomplishment == false">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">Prestation 1</span>
                  <br />
                  <span class="subheadContent">sertifikat?</span>
                  <br />
                  <span class="time">2018</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="tabsProfileContent">
      <div [hidden]="contact == false">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-6 no-padding class="marginBottom">
              <ion-row no-padding>
                <ion-col col-4 no-padding>
                  <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
                  <img  class="pictContent" src="assets/imgs/bukalapak.png" />             
                </ion-col>
                <ion-col col-8 no-padding class="wordContent">
                  <span class="headContent">Contact 1</span>
                  <br />
                  <span class="subheadContent">email?</span>
                  <br />
                  <span class="time">2018</span>                  
                </ion-col>
              </ion-row>  
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </div>
    
    <button ion-button block color="light" class="buttonAdd" (click)="add()">
        <span class="buttonWord"><ion-icon  name="md-add-circle"></ion-icon></span>
    </button>
  </div>

</ion-content>
