<ion-header>
  <ion-navbar color="senyumDifabel">
    <ion-grid no-padding>          
      <ion-row no-padding>
        <ion-col col-10 no-padding text-center>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search people..."></ion-searchbar>
        </ion-col>
        <ion-col col-2 text-center no-padding>
          <ion-icon (click)="openNotification()" color="dark" class="ButtonRight" name="notifications"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="backgroundColor">
  <ion-fab *ngIf="!statusSearch" right bottom>
    <button (click)="openNewPost()" ion-fab color="senyumDifabel">
      <ion-icon name="ios-create-outline"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="!statusSearch">
    <div class="homeCard">
      <div class="cardHeader">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-2 no-padding>
              <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
              <img  class="pictHeader" src="assets/imgs/alamanda.jpg" />             
            </ion-col>
            <ion-col col-9 no-padding class="wordHeader">
              <span class="nameHeader">Alamanda Shantika</span>
              <br />
              <span class="elseHeader">VP Gojek Indonesia</span>
              <br />
              <span class="elseHeader">20h</span>                  
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="cardContent">
        <span class="wordContent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        <br />

        <!-- pakai slider aja kalau gambar lebih dari satu -->
        <img  class="pictContent" src="assets/imgs/cardContent.jpg" />
      </div>
      <div class="cardFooter">
        <span>600 likes </span>
        <span>.</span>
        <span> 40 comment</span>
        <hr>
        <ion-grid no-padding>          
            <ion-row no-padding>
              <ion-col col-4 no-padding>
                <button ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-thumbs-up"></ion-icon>
                  <span class="buttonWord">&nbsp;Like</span>
                </button>  
                <button ion-button color="senyumDifabel" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-thumbs-up"></ion-icon>
                  <span class="buttonWord">&nbsp;Like</span>
                </button>            
              </ion-col>
              <ion-col col-4 no-padding>
                <button (click)="openComment()" ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-text"></ion-icon>
                  <span class="buttonWord">&nbsp;Comment</span>
                </button>   
                <button ion-button color="senyumDifabel" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-text"></ion-icon>
                  <span class="buttonWord">&nbsp;Comment</span>
                </button>         
              </ion-col>
              <ion-col col-4 no-padding>
                <button ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-share"></ion-icon>
                  <span class="buttonWord">&nbsp;Share</span>
                </button>    
                <button ion-button color="senyumDifabel" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-share"></ion-icon>
                  <span class="buttonWord">&nbsp;Share</span>
                </button>                    
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>





    <div class="homeCard">
      <div class="cardHeader">
        <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-2 no-padding>
              <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
              <img  class="pictHeader" src="assets/imgs/alamanda.jpg" />             
            </ion-col>
            <ion-col col-9 no-padding class="wordHeader">
              <span class="nameHeader">Alamanda Shantika asd;fhas fhf dkjashf kljh</span>
              <br />
              <span class="elseHeader">VP Gojek Indonesia</span>
              <br />
              <span class="elseHeader">20h</span>                  
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="cardContent">
        <span class="wordContent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        <br />

        <!-- pakai slider aja kalau gambar lebih dari satu -->
        <img  class="pictContent" src="assets/imgs/cardContent.jpg" />
      </div>
      <div class="cardFooter">
        <span>600 likes </span>
        <span>.</span>
        <span> 40 comment</span>
        <hr>
        <ion-grid no-padding>          
            <ion-row no-padding>
              <ion-col col-4 no-padding>
                <button ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-thumbs-up"></ion-icon>
                  <span class="buttonWord">&nbsp;Like</span>
                </button>            
              </ion-col>
              <ion-col col-4 no-padding>
                <button ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-text"></ion-icon>
                  <span class="buttonWord">&nbsp;Comment</span>
                </button>         
              </ion-col>
              <ion-col col-4 no-padding>
                <button ion-button color="gray" clear icon-left block class="buttonCustom">
                  <ion-icon name="md-share"></ion-icon>
                  <span class="buttonWord">&nbsp;Share</span>
                </button>                    
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
  </div>

  <div *ngIf="statusSearch">
    <div class="cardContact">
      <ion-grid no-padding>          
        <ion-row no-padding (click)="openProfile()">
          <ion-col col-2 no-padding>
            <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
            <img  class="pictHeader" src="assets/imgs/alamanda.jpg" />             
          </ion-col>
          <ion-col col-9 no-padding class="wordHeader">
            <span class="nameHeader">Alamanda Shantika</span>
            <br />
            <span class="elseHeader">VP Gojek Indonesia</span>                
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
